

#links{
    padding:20px;
}

.nav-link{
    color:gray;
    font-size:20px;
}

#name{
    background:rgb(45, 121, 187);
    color:white;
    padding:25px;
    margin:0px;
    text-align: center; 
}


body{
    background-image: url("images/image1.png");
    padding:0px;
}
.container
{
padding:0px;
background:white;
margin:auto;

}

#about
{
color:black;
font-size:35px;
font-weight: 500;
padding:25px;
padding-left:40px;
margin:0px; 
border-bottom: rgb(171, 170, 170) solid 2px;
font-family: arial;
background:white;
}

#picture
{
    padding-left:40px;
    margin-right:40px;
}

#paragraph
{
    text-align:justify;
    padding:20px 40px 20px 20px;
    
}
#content{margin:0px; padding:0px;}

#picture,#paragraph,#break,#project1,#project2,#project3,#project4,#project5,#blank, #content
{
    background:white;
    font-family:arial;
    line-height:40px;
    font-size:18px;
    padding-left:40px;
}

#footer
{
    background:rgb(249, 247, 247);
    text-align: center;
    color:gray;
    font-size:10px;
    padding:25px;
    margin:0px;
    border-top: rgb(171, 170, 170) 5px solid;
}

.projectbox{
    display:inline-block;
    margin: 15px;
    position:relative;
    }
    
    #leftbox{
        margin-left:0px;
    }
    .projectname{
        position:absolute;
        bottom:30px;
        padding:15px;
        background:rgb(171, 170, 170);
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:white;
        font-size:20px;
        width:100%;
        text-align:center;
        }